$primary-Red: hsl(0, 100%, 74%);
$primary-Green: hsl(154, 59%, 51%);
$accent-Blue: hsl(248, 32%, 49%);
$neutral-Dark-Blue: hsl(249, 10%, 26%);
$neutral-Grayish-Blue: hsl(246, 25%, 77%);
$border-radius: 8px;
$box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);